*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

body{
     font-family: "Lato", sans-serif;
     background-color: rgba(235, 233, 231, 0.912);
}

.head {

    text-align: center;
}

h3,h4 {
    font-weight: 400;
    color: rgb(100,100, 100);
}

h1,
h2,
h3 {
   color: rgb(76, 75, 75)
}

@import "./song";
@import "./player";
@import "./library"