*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

body{
     font-family: "Lato", sans-serif;
     background-color: rgb(103, 19, 19);
     color:white ;
}

.head {

    text-align: center;
}

h3,h4 {
    font-weight: 400;
    color: rgb(242, 236, 236);
}

h1,
h2,
h3 {
   color: rgb(242, 236, 236)
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%
}


@import "./song.scss";
@import "./player.scss";
@import "./library";
@import "./nav.scss";